<?xml version="1.0" encoding="utf-8"?>
<!--
  ~    Copyright 2017 ThirtyDegreesRay
  ~
  ~    Licensed under the Apache License, Version 2.0 (the "License");
  ~    you may not use this file except in compliance with the License.
  ~    You may obtain a copy of the License at
  ~
  ~        http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~    Unless required by applicable law or agreed to in writing, software
  ~    distributed under the License is distributed on an "AS IS" BASIS,
  ~    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~    See the License for the specific language governing permissions and
  ~    limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.thirtydegreesray.openhub"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <application
        android:name=".AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo_white_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_white_round"
        android:supportsRtl="false"
        tools:replace="android:supportsRtl"
        android:theme="@style/SplashTheme">

        <receiver android:name=".service.NetBroadcastReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <activity
            android:name=".ui.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts"/>
        </activity>
        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/ThemeLight.Green">
        </activity>
        <activity
            android:name=".ui.activity.LoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeLight.Green">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="login"
                    android:scheme="openhub"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.SettingsActivity"
            android:screenOrientation="portrait"
            android:label="@string/settings"
            android:theme="@style/ThemeLight.Green">
        </activity>

        <activity
            android:name=".ui.activity.RepositoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeLight.Green"
            android:label="@string/repository">
        </activity>

        <activity
            android:name=".ui.activity.UserListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeLight.Green">
        </activity>

        <activity
            android:name=".ui.activity.RepoListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeLight.Green"
            android:label="@string/users">
        </activity>

        <activity
            android:name=".ui.activity.ViewerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeLight.Green">
        </activity>

        <activity
            android:name=".ui.activity.ProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeLight.Green"
            android:label="@string/profile">
        </activity>

        <activity
            android:name=".ui.activity.SearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeLight.Green"
            android:label="@string/search">
        </activity>

        <activity
            android:name=".ui.activity.TrendingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeLight.Green"
            android:label="@string/trending">
        </activity>

        <activity
            android:name=".ui.activity.AboutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeLight.AboutActivity"
            android:label="@string/about">
        </activity>

        <activity
            android:name=".ui.activity.ReleasesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeLight.Green"
            android:label="@string/releases">
        </activity>

        <activity
            android:name=".ui.activity.ReleaseInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeLight.Green">
        </activity>

        <activity
            android:name=".ui.activity.IssuesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeLight.Green">
        </activity>

        <activity
            android:name=".ui.activity.IssueDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeLight.Green">
        </activity>

        <activity
            android:name=".ui.activity.MarkdownEditorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeLight.Green"
            android:windowSoftInputMode="stateVisible">
        </activity>

        <activity
            android:name=".ui.activity.EditIssueActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeLight.Green"
            android:windowSoftInputMode="stateVisible">
        </activity>

        <activity
            android:name=".ui.activity.CommitDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeLight.Green">
        </activity>

    </application>

</manifest>