<?xml version="1.0" encoding="utf-8"?>
<!--
  ~    Copyright 2014 ThirtyDegressRay
  ~
  ~    Licensed under the Apache License, Version 2.0 (the "License");
  ~    you may not use this file except in compliance with the License.
  ~    You may obtain a copy of the License at
  ~
  ~        http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~    Unless required by applicable law or agreed to in writing, software
  ~    distributed under the License is distributed on an "AS IS" BASIS,
  ~    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~    See the License for the specific language governing permissions and
  ~    limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.thirtydegreesray.openhub">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!--
        android:name=".AppApplication"
        android:theme="@style/AppTheme"
    -->
    <application
        android:name=".AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo_white"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_white"
        android:supportsRtl="true"
        android:theme="@style/SplashTheme">
        <receiver android:name=".service.NetBroadcastReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/ThemeLight.Indigo">
        </activity>
        <activity
            android:name=".ui.activity.LoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeLight.Indigo">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="login"
                    android:scheme="openhub"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.UserActivity"
            android:label="@string/title_activity_repository"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeLight.Indigo">
        </activity>

        <activity
            android:name=".ui.activity.SettingsActivity"
            android:screenOrientation="portrait"
            android:label="@string/settings"
            android:theme="@style/ThemeLight.Indigo">
        </activity>

        <activity
            android:name=".ui.activity.RepositoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeLight.Indigo"
            android:label="@string/repository">
        </activity>

        <activity
            android:name=".ui.activity.UserListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeLight.Indigo">
        </activity>

        <activity
            android:name=".ui.activity.RepoListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeLight.Indigo"
            android:label="@string/users">
        </activity>

        <activity
            android:name=".ui.activity.ViewerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeLight.Indigo">
        </activity>

        <activity
            android:name=".ui.activity.ProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeLight.Indigo"
            android:label="@string/profile">
        </activity>

        <activity
            android:name=".ui.activity.SearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeLight.Indigo"
            android:label="@string/search">
        </activity>

        <activity
            android:name=".ui.activity.TrendingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeLight.Indigo"
            android:label="@string/trending">
        </activity>

    </application>

</manifest>